.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.nav-section {
  display: flex;
  justify-content: center;
}

.menu-list {
  list-style: none;
  display: flex;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  border: none;
  border-bottom: 1.5px solid black;
}

.search-input {
  border: none;
  background-color: none;
  padding-left: 5px;
}

